pranav.json
[{"id":"86d522af.1468b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5b1e37c4.9d9c28","type":"inject","z":"86d522af.1468b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":740,"y":620,"wires":[["ab4ea324.d867a"]]},{"id":"ab4ea324.d867a","type":"function","z":"86d522af.1468b","name":"","func":"msg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'SELECT * FROM machine_mst',\n    },\n    \n    {\n        query: 'commit',\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":620,"wires":[[]]},{"id":"81624890.fa5688","type":"debug","z":"86d522af.1468b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":720,"wires":[]},{"id":"b37004a2.0cc388","type":"debug","z":"86d522af.1468b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":620,"wires":[]},{"id":"8cdfbf55.e5ab3","type":"inject","z":"86d522af.1468b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":180,"wires":[["c996d33c.a8e1a"]]},{"id":"c996d33c.a8e1a","type":"debug","z":"86d522af.1468b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":220,"wires":[]}]
